<% if (lang==="EN") { %>
 
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <div style="background-color: #6351ce;">
        <div class="container">
    
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0 ">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
      </div>
    
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3">
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold text-secondary">Amir Alamian Articles</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-secondary">Here you can write some articles and read vey useful ones. just join us to use our free website.</p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <% if (home) { %>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
    
            
              <h6 class="text-uppercase font-weight-bold w-100 text-light">most Viewed articles</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="text-primary" href="/api/article/read/<%= mostViewed[0]._id %>"> <%=mostViewed[0].title %></a>
              </p>
              <p>
                <aclass="text-primary"  href="/api/article/read/<%= mostViewed[1]._id %>"><%=mostViewed[1].title %></a>
              </p>
              <p>
                <a class="text-primary" href="/api/article/read/<%= mostViewed[2]._id %>"><%=mostViewed[2].title %></a>
              </p>
              <p>
                <a class="text-primary" href="/api/article/read/<%= mostViewed[3]._id %>"><%=mostViewed[3].title %></a>
              </p>
      
            </div>
          <% } %>
         
    
    
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Links</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="text-primary" href="/api/signIn">Sign In</a>
              
            </p>
            <p>
              <a class="text-primary" href="/api/signUp">Sign Up</a>
            </p>
            <p>
              <a class="text-primary" href="/api/dashboard">Dashboard</a>
            </p>
            
            <p>
              <a class="text-primary" href="/api">home</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Tehran, Iran</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> amiralamian10@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> <a class="text-light">+98 9214698677</a></p>
            
            
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="text-primary" href="https://github.com/amirAlamian"> Amir Alamian</a>
      </div> 
     
    
    </footer>
  
<% } %>
<% if (lang==="FA") { %>
 
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark ">

      <div style="background-color: #6351ce;">
        <div class="container">
    
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0  text-light">در شبکه های اجتماعی مارا دنبال کنید</h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
      </div>
    
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3">
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold text-right text-light">سایت مقاله امیر عالمیان</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-justify text-light" dir="rtl"> در این سایت می توانید مقاله بنویسید و مقاله های مفیدی را مطالعه کنید. فقط کافیست به ما بپیوندید تا از سایت رایگان ما استفاده کنید</p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <% if (home) { %>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
    
            
              <h6 class="text-uppercase font-weight-bold w-100 text-right text-light"> مقاله های پر بازدید</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p  class="text-right">
                <a class="text-primary" href="/api/article/read/<%= mostViewed[0]._id %>"> <%=mostViewed[0].title %></a>
              </p>
              <p class="text-right">
                <a class="text-primary" href="/api/article/read/<%= mostViewed[1]._id %>"><%=mostViewed[1].title %></a>
              </p>
              <p class="text-right">
                <a class="text-primary" href="/api/article/read/<%= mostViewed[2]._id %>"><%=mostViewed[2].title %></a>
              </p>
              <p class="text-right">
                <a class="text-primary" href="/api/article/read/<%= mostViewed[3]._id %>"><%=mostViewed[3].title %></a>
              </p>
      
            </div>
          <% } %>
         
    
    
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold text-right text-light">لینک ها</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-right">
              <a class="text-primary" href="/api/signIn">ورود</a>
              
            </p>
            <p class="text-right">
              <a class="text-primary" href="/api/signUp"> ثبت نام</a>
            </p>
            <p class="text-right">
              <a class="text-primary" href="/api/dashboard">پنل کاربری</a>
            </p>
            
            <p class="text-right">
              <a class="text-primary" href="/api">خانه</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold text-right text-light">ارتباط با ما</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-right text-light">
               ایران، تهران &nbsp;<i class="fas fa-home mr-3 "></i></p> 
            <p class="text-right text-light">
               amiralamian10@gmail.com &nbsp;<i class="fas fa-envelope mr-3"></i></p>
            <p class="text-right text-light">
              <a class="text-light">+98 9214698677</a> &nbsp;<i class="fas fa-phone mr-3"></i></p>
            
            
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
        <a href="https://github.com/amirAlamian" class="text-primary"> Amir Alamian</a>
      </div> 
     
    
    </footer>
  
<% } %>