<% if (lang==="EN") { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/navbar",{theme,user}) %>
    <%- include("../partials/alert") %>
    <section class="passage" data-article-id="<%= article._id %>">
        <article class="passage-head">
            <img src="/images/articleImages/<%= article.image%>" class="passage-image" alt="<%= article.title %>">
            <div class="passage-title text-center">
                <h1> <%= article.title %></h1>
                <div class="passage-description">
                    <p><%= article.description %></p>
                </div>

            </div>

        </article>

    </section>
    <table class="table  m-auto passage-details">
        <thead class="thead-dark hide-800px">
            <tr>
                <th scope="col" class="text-center table-title ">Title</th>
                <th scope="col" class="text-center table-description">Description</th>
                <th scope="col" class="text-center">Picture </th>
            </tr>
        </thead>








       <thead class="thead-dark hide2 vertical-header">
           <tr>
            <th scope="col" class="text-center table-title ">Title</th>
           </tr>

       </thead>
       <tbody class="hide2">
           <tr>
            <td><textarea class=" hide2"><%= article.title%></textarea></td>
           </tr>
       </tbody>



       <thead class="thead-dark hide2 vertical-header">
        <tr>
            <th scope="col" class="text-center table-description">Description</th>
        </tr>

    </thead>
    <tbody class="hide2">
        <tr>
            <td><textarea class=" hide2"><%= article.description%></textarea></td>
        </tr>
    </tbody>


    <thead class="thead-dark hide2 vertical-header">
        <tr>
            <th scope="col" class="text-center">Picture </th>
        </tr>

    </thead>
    <tbody class="hide2">
        <tr>
       <td> <input type="file" name="avatar" class="btn btn-light choosePicture  hide2 "
                        data-id="<%= article._id%>">
                </td>
            </tr>
        </tr>
    </tbody>





        <tbody class="hide-800px">
            <tr>
                <td><textarea class="hide-800px"><%= article.title%></textarea></td>
                <td><textarea class="hide-800px"><%= article.description%></textarea></td>
                <td> <input type="file" name="avatar" class="btn btn-light  hide-800px "
                        data-id="<%= article._id%>">
                </td>
            </tr>

        </tbody>
        </tbody>
    </table>

    <span id="article-passage" data-passage="<%= article.body%>"> </span>

    <textarea id="full-featured-non-premium" placeholder="Write...">
        </textarea>
    <div class="send-article">
        <button class="btn btn-primary my-2 my-sm-0 send-article-btn " type="submit"
            data-id=<%= article._id %>>save</button>
        <button class="btn btn-light my-2 my-sm-0 sendToAdmin-article-btn " type="submit"
            data-id=<%= article._id %>>Send to admin</button>
    </div>



    <% } %>

    <% if (lang==="FA") { %>
    <!DOCTYPE html>
    <html lang="fa">

    <head>
        <%- include("../partials/header") %>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    </head>

    <body id="FA">
        <%- include("../partials/navbar",{theme,user}) %>
        <%- include("../partials/alert") %>
        <section class="passage" data-article-id="<%= article._id %>">
            <article class="passage-head">
                <img src="/images/articleImages/<%= article.image%>" class="passage-image" alt="<%= article.title %>">
                <div class="passage-title ext-center">
                    <h1> <%= article.title %></h1>
                    <div class="passage-description">
                        <p><%= article.description %></p>
                    </div>

                </div>

            </article>

        </section>

     <section class="w-100 overflow-auto">
        <table class="table  m-auto passage-details">
            <thead class="thead-dark hide-800px">
                <tr>
                    <th scope="col" class="text-center table-title ">تیتر</th>
                    <th scope="col" class="text-center table-description">خلاصه</th>
                    <th scope="col" class="text-center">عکس مقاله</th>
                </tr>
            </thead>








           <thead class="thead-dark hide2 vertical-header">
               <tr>
                <th scope="col" class="text-center table-title ">تیتر</th>
               </tr>

           </thead>
           <tbody class="hide2">
               <tr>
                <td><textarea><%= article.title%></textarea></td>
               </tr>
           </tbody>



           <thead class="thead-dark hide2 vertical-header">
            <tr>
                <th scope="col" class="text-center table-description">خلاصه</th>
            </tr>

        </thead>
        <tbody class="hide2">
            <tr>
                <td><textarea><%= article.description%></textarea></td>
            </tr>
        </tbody>


        <thead class="thead-dark hide2 vertical-header">
            <tr>
                <th scope="col" class="text-center">عکس مقاله</th>
            </tr>

        </thead>
        <tbody class="hide2">
            <tr>
           <td> <input type="file" name="avatar" class="btn btn-light choosePicture "
                            data-id="<%= article._id%>">
                    </td>
                </tr>
            </tr>
        </tbody>





            <tbody class="hide-800px">
                <tr>
                    <td><textarea><%= article.title%></textarea></td>
                    <td><textarea><%= article.description%></textarea></td>
                    <td> <input type="file" name="avatar" class="btn btn-light choosePicture "
                            data-id="<%= article._id%>">
                    </td>
                </tr>

            </tbody>
        </table>
    
     </section>
           
       

        <span id="article-passage" data-passage="<%= article.body%>"> </span>

        <textarea id="full-featured-non-premium" placeholder="Write...">
        </textarea>
        <div class="send-article">
            <button class="btn btn-primary my-2 my-sm-0 send-article-btn " type="submit"
                data-id=<%= article._id %>>ذخیره</button>
            <button class="btn btn-light my-2 my-sm-0 sendToAdmin-article-btn " type="submit"
                data-id=<%= article._id %>>ارسال به ادمین</button>
        </div>


        <% } %>

        <%- include("../partials/scripts") %>
        <%- include("../partials/footer",{home:false}) %>
        <script src="https://cdn.tiny.cloud/1/u27j517s2p7q4urqq9hj7oj047fw98p07hgsqd4kpccg6piz/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
        <script src="/javascripts/article.js"></script>
        <script src="/javascripts/user-account-image.js"></script>
    </body>

    </html>