<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<% if (lang==="EN") { %>

<body>
    <%- include("../partials/navbar",{theme,user}) %>
    <hr>
    <hr>

    <section class="table-holder">
        <%- include("../partials/alert") %>
        <% if (published) { %>
            <div class="w-100 d-flex align-items-center justify-content-start flex-wrap p-3 sort">
                <h5 class="w-100">Sort by:</h5>
                <span class="sort-title"> Create Date</span>
                <div class="rounded-circle sort-options selected" data-sort="date"></div>
                <span class="sort-title"> View</span>
                <div class="rounded-circle sort-options " data-sort="view"></div>
            </div>
           <hr>
        <% } %>
        <div class="table-cover">
            <table class="table  article-table" data-published="<%= published %>">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center table-title ">Title</th>
                        <th scope="col" class="text-center table-description">Description</th>
                        <th scope="col" class="text-center table-createdAt">View</th>
                        <th scope="col" class="text-center">Tools</th>
                    </tr>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>
      

    </section>
    <% } %>
    <% if (lang==="FA") { %>

    <body id="FA">
        <%- include("../partials/navbar",{theme,user}) %>
        <hr>
        <hr>

        <section class="table-holder">
            <%- include("../partials/alert") %>
            <% if (published) { %>
                <div class="w-100 d-flex align-items-center justify-content-end flex-wrap p-3 sort">
                    <h5 class="w-100 text-right">:چیدن بر اساس</h5>
                   
                    <div class="rounded-circle sort-options " data-sort="view"></div>
                    <span class="sort-title"> بازدید</span>
                    
                    <div class="rounded-circle sort-options selected" data-sort="date"></div>
                    <span class="sort-title"> تاریخ ساخت</span>
                    
                    
                </div>
               <hr>
            <% } %>
           
           <div class="table-cover">
            <table class="table  article-table " data-published="<%= published %>">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center table-title ">عنوان</th>
                        <th scope="col" class="text-center table-description">خلاصه</th>
                        <% if (published) { %>
                        <th scope="col" class="text-center table-createdAt">بازدید</th>
                        <% } %>
                        <% if (!published) { %>
                            <th scope="col" class="text-center table-createdAt">تاریخ ایجاد</th>
                        <% } %>

                        <th scope="col" class="text-center">ابزار</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
           </div>
           

        </section>
        <% } %>








    </body>
    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
    <script src="/javascripts/client2.js"></script>

</html>