<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<body>
    <%- include("../partials/navbar",{theme,user}) %>
    
    <%- include("../partials/modals",{theme,user}) %>
    <section class="article">
        <hr>
        <article class="article-not-done">
            <% let counter=0 %> 
            <% for( let index = 0; index <articles.length; index++ ) { %>
                <% if (articles[index].published) { %>
                    <%- include("../partials/cards",{article:articles[index]}) %> 
                    <%  counter++ %> 
                    <% if (counter===3) { %>
                        <%  counter=0 %>
                        <%  break %>  
                     
                    <% } %>
                <% } %>

                
            <% } %>
            <div class="showMore">
                <a href="/api/dashboard/article/allArticles/published" class="btn-light btn">Show more</a>
            </div>
        </article>
        <hr>
        <article class="article-done">
            <% for( let index = 0; index < articles.length; index++ ) { %>
                <% if (!articles[index].published) { %>
                    <%- include("../partials/cards",{article:articles[index]}) %> 
                    <%  counter++ %> 
                    <% if (counter===3) { %>
                        <%  counter=0 %>
                        <%  break %>  
                     
                    <% } %>
                    
                <% } %>
                
            <% } %>
            <div class="showMore">
                <a href="/api/dashboard/article/allArticles/nopublished" class="btn-light btn">Show more</a>
            </div>
        </article>
        <hr>
    </section>






    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
    <script src="/javascripts/article.js"></script>
    <script src="/javascripts/signIn.js"></script>
</body>

</html>