<% if (lang==="EN") { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<body>
    <%- include("../partials/navbar",{theme,user,lang}) %>
    <section class="introduce">
        <%- include("../partials/carousel") %>
    </section>

    <section id="search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 " id="search-input" type="search" placeholder="Article name"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 " id="search-btn" type="submit">Search</button>
        </form>
    </section>


    <section class="article">
        <hr>
        <h4>
            Most Viewed Articles
        </h4>
        <hr>
        <article class="article-mostview mostViewed">


            <% for( let index = 0; index <mostViewed.length; index++ ) { %>
            <% if (index >=3) { %>

            <%- include("../partials/cards",{article:mostViewed[index],home :true ,index , hide:true , lang}) %>

            <% continue %>
            <% } %>

            <%- include("../partials/cards",{article:mostViewed[index],home :true ,index , hide:false ,lang}) %>






            <% } %>

            <div class="article-showMore">
                <button class="btn-light btn show-more" data-status="most-viewed">Show more</button>
            </div>
        </article>
        <hr>
        <h4>
            Newest Articles
        </h4>
        <hr>
        <article class="article-newest newest">
            <% for( let index =0; index < newArticles.length; index++ ) { %>
            <% if (index>=3) { %>

            <%- include("../partials/cards",{article:newArticles[index],home :true ,index:index+9 ,hide:true , lang}) %>

            <% continue %>
            <% } %>

            <%- include("../partials/cards",{article:newArticles[index],home :true ,index:index+9 ,hide:false , lang}) %>





            <% } %>
            <div class="article-showMore">
                <button class="btn-light btn show-more" data-status="newest">Show more</button>
            </div>
        </article>
        <hr>
    </section>



    <% } %>

    <% if (lang==="FA") { %>
    <!DOCTYPE html>
    <html lang="FA">

    <head>
        <%- include("../partials/header") %>
    </head>


    <body id="FA">
        <%- include("../partials/navbar",{theme,user}) %>
        <section class="introduce ">
            <div class="carousel-holder">
                <%- include("../partials/carousel") %>
            </div>

        </section>

        <section id="search" class="neg-margin">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 text-right" dir="rtl" id="search-input" type="search" placeholder=" نام مقاله"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 " id="search-btn" type="submit">جست و جو</button>
            </form>
        </section>


        <section class="article">
            <hr>
            <h4>
                مقاله ها پر بازدید
            </h4>
            <hr>
            <article class=" article-mostview  mostViewed">


                <% for( let index = 0; index <mostViewed.length; index++ ) { %>
                <% if (index >=3) { %>

                <%- include("../partials/cards",{article:mostViewed[index],home :true ,index , hide:true , lang}) %>

                <% continue %>
                <% } %>

                <%- include("../partials/cards",{article:mostViewed[index],home :true ,index , hide:false , lang}) %>






                <% } %>

                <div class="article-showMore">
                    <button class="btn-light btn show-more" data-status="most-viewed">بیشتر</button>
                </div>
            </article>
            <hr>
            <h4>
                جدید ترین مقاله ها
            </h4>
            <hr>
            <article class="article-newest newest">
                <% for( let index =0; index < newArticles.length; index++ ) { %>
                <% if (index>=3) { %>

                <%- include("../partials/cards",{article:newArticles[index],home :true ,index:index+9 ,hide:true , lang}) %>

                <% continue %>
                <% } %>

                <%- include("../partials/cards",{article:newArticles[index],home :true ,index:index+9 ,hide:false , lang}) %>





                <% } %>
                <div class="article-showMore">
                    <button class="btn-light btn show-more" data-status="newest">بیشتر</button>
                </div>
            </article>

            <hr>
        </section>

        <% } %>


        <%- include("../partials/footer") %>
        <%- include("../partials/scripts") %>
        <script src="/javascripts/home.js"></script>
        <script src="/javascripts/signIn.js"></script>
    </body>

    </html>