<% if (lang==="EN") { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<body>

    <%- include("../partials/alert") %>
    <% if (theme) { %>
    <section class="signUpBox-<%= theme %>">
        <% } %>
        <% if (!theme) { %>
        <section class="signUpBox-light">
            <% } %>

            <article class="input-box">
                <h2>Sign Up</h2>
                <div class="text-secondary text-center">
                    <%= message %>
                </div>

                <div class="input-box-container"> <input type="text" placeholder="First name" class="check-language"></div>
                <div class="input-box-container"> <input type="text" placeholder="Last name" class="check-language"></div>
                <div class="input-box-container"> <input type="text" placeholder="User name" class="check-language"></div>
                <div class="input-box-container">
                    <div class="input-box-password"><input type="password" class="password-input check-language"
                            placeholder="Password(at least 8 characters)" maxlength="36"><i class="fa fa-eye"
                            aria-hidden="true"></i></div>
                </div>
                <div class="input-box-container"> <input type="email" placeholder="Email" class="check-language"></div>
                <div class="input-box-container"> <input type="text" placeholder="Phone number" class="check-language"></div>
                <div class="input-box-radio">

                    <div class="d-flex justify-content-start align-items-center"><span class="gender">Male</span>
                        <div class="rounded-circle radio"></div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center"><span class="gender">Female</span>
                        <div class="rounded-circle radio"></div>
                    </div>

                </div>
                <div id="recap" class="<%= theme %>"></div>
                <button class="signUpBTN">Sign Up</button>
                <small>Already have an account?<a href="/api/signIn">Sign In</a></small>
            </article>

        </section>


        <% } %>


        <% if (lang==="FA") { %>
        <!DOCTYPE html>
        <html lang="fa">

        <head>
            <%- include("../partials/header") %>
        </head>

        <body id="FA">

            <%- include("../partials/alert") %>
            <% if (theme) { %>
            <section class="signUpBox-<%= theme %>">
                <% } %>
                <% if (!theme) { %>
                <section class="signUpBox-light">
                    <% } %>

                    <article class="input-box">
                        <h2>ثبت نام</h2>
                        <div class="text-secondary text-right">
                            <%= message %>
                        </div>
                        <div class="input-box-container"> <input type="text" placeholder="نام" class="text-right check-language"
                                dir="ltr"></div>
                        <div class="input-box-container"> <input type="text" placeholder="نام خوانوادگی"
                                class="text-right check-language" dir="ltr"></div>
                        <div class="input-box-container"> <input type="text" placeholder="نام کاربری" class="text-right check-language"
                                dir="ltr"></div>
                        <div class="input-box-container">
                            <div class="input-box-password"><i class="fa fa-eye" aria-hidden="true"></i><input
                                    type="password" dir="rtl" class="password-input text-right check-language"
                                    placeholder="رمز عبور(حداقل 8 حرف) " maxlength="36"></div>
                        </div>
                        <div class="input-box-container"> <input type="email" placeholder="ایمیل" class="text-right check-language"
                                dir="ltr"></div>
                        <div class="input-box-container"> <input type="text" placeholder="شماره تلفن" class="text-right check-language"
                                dir="ltr"></div>
                        <div class="input-box-radio">
                            <div class="input-box-radio-holder">
                                <div class="rounded-circle radio"></div> <span>مرد</span>
                            </div>
                            <div class="input-box-radio-holder">
                                <div class="rounded-circle radio"></div> <span>زن</span>
                            </div>
                        </div>
                        <div id="recap" class="<%= theme %>"></div>
                        <button class="signUpBTN">ثبت نام</button>
                        <small>در حال حاضر ثبت نام کرده اید؟&nbsp;<a href="/api/signIn">ورود</a></small>
                    </article>

                </section>


                <% } %>

                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl" async
                    defer>
                    </script>
                <%- include("../partials/scripts") %>
                <script src="/javascripts/client.js"></script>

        </body>

        </html>