<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") %>
</head>

<% if (lang==="EN") { %>
    <body>
        <form action="/api/dark/signIn" method="GET">
            <button class="theme" style="display: inline;">click me</button>
        </form>
        <% if (theme) { %>
            <section class="signInbox-<%= theme %>">
        <% } %>
        <% if (!theme) { %>
            <section class="signInbox-light">
        <% } %>
        
            <article class="input-box">
                <h2>Sign In</h2>
                <div class="<%= className %>" role="alert">
                    <%= message %> 
                </div>
                <form action="/api/signIn" method="POST">
                <div class="input-box-container"> <input type="text" placeholder="username" name="userName" value="amirAlamian"></div>
                <div class="input-box-container"><div class="input-box-password"><input type="password" placeholder="password"  class="password-input" name="password" value="1379amir"><i class="fa fa-eye" aria-hidden="true"></i></div> </div>
                <button class="signInBTN">Sign In</button>
            </form>
    
            <small>Forget your password?&nbsp<a href="#">click here</a></small>
            <small>Don't have an account?&nbsp<a href="/api/signUp">sign Up</a></small>
    
            </article>
        </section>
<% } %>


<% if (lang==="FA") { %>
    <body id="FA">
        <form action="/api/dark/signIn" method="GET">
            <button class="theme" style="display: inline;">click me</button>
        </form>
        <% if (theme) { %>
            <section class="signInbox-<%= theme %>">
        <% } %>
        <% if (!theme) { %>
            <section class="signInbox-light">
        <% } %>
        
            <article class="input-box">
                <h2>ورود</h2>
                <div class="<%= className %> text-center " role="alert">
                    <%= message %> 
                </div>
                <form action="/api/signIn" method="POST">
                <div class="input-box-container"> <input type="text" class="text-right" placeholder="نام کاربری" name="userName" value="amir" dir="rtl"></div>
                <div class="input-box-container"><div class="input-box-password text-right"><i class="fa fa-eye" aria-hidden="true"></i><input type="password" placeholder="رمز عبور"  dir="rtl" class="password-input" name="password" value="1379amir"></div> </div>
                <button class="signInBTN">ورود</button>
            </form>
    
            <small>رمز عبور را فراموش کردید؟&nbsp<a href="#">بازیابی</a></small>
            <small>ثبت نام نکرده اید؟&nbsp<a href="/api/signUp">ثبت نام</a></small>
    
            </article>
        </section>
    <% } %>

    





    <%- include("../partials/scripts") %>
    <script src="/javascripts/client.js"></script>
</body>
</html>