<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<body>
    <form action="/api/dark/signUp" method="GET">
        <button class="theme" style="display: inline;">click me</button>
    </form>
    <% if (theme) { %>
        <section class="signUpBox-<%= theme %>">
    <% } %>
    <% if (!theme) { %>
        <section class="signUpBox-light">
    <% } %>
    
        <article class="input-box">
            <h2>Sign Up</h2>
            <div class="<%= className %>" role="alert">
                <%= message %> 
            </div>
            <div class="input-box-container"> <input type="text" placeholder="First name"></div>
            <div class="input-box-container"> <input type="text" placeholder="Last name"></div>
            <div class="input-box-container"> <input type="text" placeholder="User name"></div>
            <div class="input-box-container"> <div class="input-box-password"><input type="password" class="password-input" placeholder="Password(at least 8 characters)" maxlength="36"><i class="fa fa-eye" aria-hidden="true"></i></div></div>
            <div class="input-box-container"> <input type="email" placeholder="Email"></div>
            <div class="input-box-container"> <input type="text" placeholder="Phone number"></div>
            <div class="input-box-radio"> <input type="radio" name="gender" value="male">Male<br> <input type="radio"
                    name="gender" value="female">Female </div>
            <div id="recap" class="<%= theme %>"></div>
            <button class="signUpBTN">Sign Up</button>
            <small>Already have an account?<a href="/api/signIn">Sign In</a></small>
        </article>

    </section>


    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl" async defer>
    </script>
    <%- include("../partials/scripts") %>
    <script src="/javascripts/client.js"></script>

</body>

</html>